PORT = 3000
MONGO_URI = mongodb+srv://Casavan:teamwater@cluster0.sko4w.mongodb.net/storyapp?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 24981024923-0u8rpld2in19lcoe3m123ago469u0eft.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = N0AZXS25u3sb-Z608u3Dozuk
